<div class="container mt-5">
    <div>
        ¡Hola {{firstName}} {{lastName}}!
    </div>
    <br><br>
    <div class="d-flex justify-content-between mb-3">
        <h2>Productos</h2>
    </div>
    {{#each products}}
        <div><strong>{{this.title}}</strong></td>
        <div>Descripción: <i>{{this.description}}</i></div>
        <div>${{this.price}}</div>
		<button>Agregar al carrito</button>
		<a href="/products/{{this._id}}"><button>Ver detalles</button></a>
        <hr>
    {{/each}}
</div>

{{#if hasPrevPage}}
    <a href="{{prevLink}}"><button>Anterior</button></a>
{{/if}}
{{#if hasNextPage}}
    <a href="{{nextLink}}"><button>Siguiente</button></a>
{{/if}}

<br><br>

<div>
    <a href="/logout"><button>Salir</button></a>
</div>